
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
    background-color: pink;
    color: red;
    border-radius: 5px;
    padding: 3px;
}

.success {
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 5px;
    padding: 3px;
}